@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #590535;
}
h3{
    margin-left: 170px;
}
h2{
    margin-left: 195px;
}
a{
    display: inline-block;
    padding: 8px 20px;
    background: orchid;
    color: white;
    margin-left: 180px;
}
.card{
    position: relative;
    width:400px;
    height:500px;
    background:peachpuff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.15),0 20px 20px rgba(0,0,0,0.15);
}
.card .cover{
    position: relative;
    width: 100%;
    height:100%;
    background: peachpuff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 1s ease-in-out;
    transform-origin: left;
    
}
.card:hover{
    transform: perspective(2000px) translateX(50%);
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.15),0 20px 20px rgba(0,0,0,0.15);
    
}
.card:hover .cover{
    transform: rotatey(-180deg);
}
.card .cover img{
    max-width: 100%;
    z-index: 1;
   
}
.card .cover::before{
    content: '';
    position: absolute;
    width:15px;
    height: 700px;
    background: peachpuff;
    transform: rotate(35deg);
    box-shadow: 0px 0px 0px 30px #0aa385 ;
    transition: 0.5s;
    transition-delay: 1s;
}
.card:hover .cover::before{
    width: 0;
    box-shadow: 0 0 0 350px #0aa385;
    transform: rotate(120.5deg); 
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: -1;

}
.card .details h3 {
    font-weight: 800;
    
}
.card .details h2{
    font-size: 1.5em;
    color: royalblue;
    font-weight: 600;
}
.card .details a{

    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 25px;
    text-decoration: none;
}
